Evacuation.Api/obj**
Evacuation.Api/bin/**

Evacuation.Application/bin/**
Evacuation.Application/obj/**

Evacuation.Domain/bin/**
Evacuation.Domain/obj/**

Evacuation.Infrastructure/bin/**
Evacuation.Infrastructure/obj/**

Evacuation.Test